/* Reset y estilos globales */
body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Cabecera fija */
.top-bar {
    background-color: #2943b9;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.logo a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

/* Contenedor principal centrado */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;      
    min-height: 110vh;       
    position: relative;       
}


/* Formularios */
form {
    box-shadow: 0 0 20px rgb(0, 0, 0.2);
    padding: 10px 35px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 380px;
}

form h2 {
    font-size: 35px;
    color: #0D0D0D;
    margin: 20px 0 0 0;
}

form p {
    font-size: 16px;
    color: #5e5e5e;
    margin-bottom: 35px;
}

/* Inputs */
.input-wrapper {
    position: relative;
    width: 305px;
    margin-bottom: 20px;
    min-height: 85px;
}

input {
    color: #0D0D0D;
    padding: 20px 15px 20px 60px;
    width: 100%;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 0 10px rgb(0, 0, 0.1);
    outline: none;
    font-size: 16px;
}

input::placeholder {
    font-size: 16px;
    color: rgb(78, 76, 76);
}

/* Iconos dentro de inputs */
.fa-icon {
    position: absolute;
    height: 35px;
    width: 35px;
    left: 16px;
    top: 35%;
    transform: translateY(-55%);
    font-size: 28px;
}

/* Recordar contrase침a */
.recordar {
    text-align: left;
    width: 100%;
}

.recordar a {
    color: blue;
    text-decoration: none;
    position: relative;
}

.recordar a:visited {
    color: blue;
}

.recordar a:hover {
    text-decoration: none;
}

/* Botones principales */
.btn, .btn-confirmpassword {
    padding: 12px 24px;
    background: linear-gradient(98deg, rgb(9, 91, 199) 25%, rgba(61, 1, 245, 1) 100%);
    box-shadow: 0 0 20px rgba(192, 238, 251, 0.7);
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.btn:hover {
    background: blue;
}

/* Responsive */
@media(max-width: 991px) {
    body {
        padding: 10px;
    }
    form {
        padding: 20px;
        width: 100%;
    }
    .input-wrapper {
        width: 88%;
        margin-bottom: 35px;
    }
    input {
        padding: 20px 0px 20px 45px;
    }
    .input-icon {
        height: 20px;
        width: 20px;
    }
     .fa-icon {
        height: 22px;
        width: 22px;
        font-size: 22px;
        left: 12px !important;   /* 游녤 Esto mueve el icono M츼S A LA IZQUIERDA */
    }



     .toggle-password {
        right: 10px !important;  /* 游녣 Mueve el ojito a la izquierda */
        width: auto;
    }

    .toggle-password i {
        font-size: 20px; /* opcional: ajusta tama침o en m칩vil */
    }
}

/* Errores en inputs */
.input-alert {
    border: 2px solid red !important;
}

.mensaje-error {
    color: red;
    position: absolute;
    font-size: 16px;  
    margin-top: 5px;
    margin-left: 10px;  
    text-align: left;    
    font-weight: 500;    
}

/* Mostrar/Ocultar contrase침a */
.toggle-password {
    position: absolute;
    top: 50%;
    right: -20px;
    width: 0px;
    height: 50px;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password i {
    color: #5e5e5e;
    font-size: 22px;
    display: none;
}

#show_eye {
    display: none;
}

#hide_eye {
    display: block;
}
